@import 'variables';

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.category__title {
    color: $primaryColor;
    font-size: 2.4rem;
    font-weight: 400;
}

/* .card__city, .card__price {
    color: $secondaryColor;
} */

.card__city-description, .card__price-description {
    font-size: 2.2rem;
    font-weight: 500;
}

.card__city-country {
    font-size: 1.7rem;
}

.card__price-text {
    font-size: 1.2rem;
}