#gramado {
    background-image: url('../img/brazil/brazil-gramado.png');
}

#maragogi {
    background-image: url('../img/brazil/brazil-maragogi.png');
}

#praiaDoForte {
    background-image: url('../img/brazil/brazil-praia-forte.png');
}

#rioDeJaneiro {
    background-image: url('../img/brazil/brazil-rio-janeiro.png');
}

#salvador {
    background-image: url('../img/brazil/brazil-salvador.png');
}

#saoPaulo {
    background-image: url('../img/brazil/brazil-sao-paulo.png');
}

#buenosAires {
    background-image: url('../img/world/world-buenos-aires.png');
}

#ilhaDasAventuras {
    background-image: url('../img/world/world-ilha-aventuras.png');
}

#londres {
    background-image: url('../img/world/world-londres.png');
}

#maldivas {
    background-image: url('../img/world/world-maldivas.png');
}

#novaYork {
    background-image: url('../img/world/world-nova-york.png');
}

#paris {
    background-image: url('../img/world/world-paris.png');
}